<h1>Listing radios</h1>

<table id="radios" class="display" data-source="<%= radios_url(format: "json") %>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Source</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

