

/*--------------TABLE---------------*/

.table{
  
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.table > tbody > tr > td{
  vertical-align: middle;
  background-color: #376191;
  color:#111435;
  font-family: 'Open Sans', sans-serif;

}
.table-hover > tbody > tr:hover{
  background-color: #518EA1;
}


thead,tfoot{
   
  color:#E8E8B2;
  font-family: 'Montserrat', sans-serif;
  background: -webkit-linear-gradient(#1C2444, #0B1644); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#1C2444, #0B1644); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#1C2444, #0B1644); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#1C2444, #0B1644); /* Standard syntax */
}
th,td{
  padding-left: 20px !important;
}

td.center{
  text-align: center !important;
}
/*------------BUTTON-------------------------*/
.btn-size-add{
    width: 120px !important;
}
.btn-size {
    width: 80px !important;
    box-shadow: 5px 5px 2.5px rgba(0, 0, 0, 0.15);
    margin-right: 20px;
}
.btn-info{
  background: #5593AA;
}
.btn-warning{
  background: #E99F4A;
}
.btn-primary{
  background: #EE934C;
}
/*--------RESPONSIVE BACKGROUND---------------*/
body{
  background: no-repeat   center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #486180;
}


@media (max-width:991px){
  body{background: url('/assets/background-992.jpg');}
}
@media (min-width:992px){
  body{background: url('/assets/background-1200.jpg');}
}
@media(min-width:1200px){
  body{background: url('/assets/background-1920.jpg');}
}
body> .container-fluid{
  padding-top: 60px;
  padding-bottom: 200px;
}